<div class="row marketing">
	<div class="col-md-6">
		<h4 class="headline">Got a talk idea? We want to see it!</h4>
		<p>
			We’re pleased to announce our conference. The OpenWest Conference is
			one of the best Open Source conferences where community members from around
			the western U.S. come together to learn and share information about the latest
			trends and technologies in development, system adminstration, and more.
		</p>
		
		<h4 class="headline">Speaker Package</h4>
		<p>
			We know speakers are key to the success of a conference and hope 
			you will submit a talk. In appreciation of your efforts, our speaker 
			compensation package includes:
			
			<ul>
				<li>Full conference pass (excluding tutorials)</li>
				<li>For speakers remote to the Area:</li>
				<ul>
					<li>Complimentary airfare/travel (according to conference policy)</li>
					<li>4 complimentary hotel nights (additional hotel night for speakers presenting a tutorial)</li>
				</ul>
			<li>Lunch, receptions and activities included in regular conference</li>
			<li>We will pick speakers up and drop them off to/from the airport so they don't have to worry about it.</li>
			</ul>
		</p>
	</div>
	
	<div class="col-md-6">
		<h4 class="headline">Blind community voting</h4>
		<p>
			We use blind community voting as the main factor in deciding which speakers to invite.
			Other factors include the number of talks per topic, travel cost, and the number
			of talks submitted by that speaker. We do NOT take into consideration gender, race, religion, or
			sexual orientation.
		</p>
		
		<h4 class="headline">Code of Conduct</h4>
		<p>
			We are also committed to ensuring the conference is a place
			where ideas are exchanged, old friends get together, new friends meet and <strong>harassment
			is not tolerated</strong>. We expect speakers, attendees and sponsor representatives to be
			professional and courteous to each other. We reserve the right to remove, without refund,
			ANY attendee (speaker or otherwise) who is unable to adhere to this policy.
		</p>
		<p>
			Speakers are expected to read and abide by our full <a href="http://www.openwest.org/code-of-conduct/">Code of Conduct</a>.
		</p>
		
		<h4 class="headline">Audience Peculiarities</h4>
		<p>
			Most of the attendees of the OpenWest Conference are from Utah, and a large percentage of those will be religious and
			family-oriented individuals. Vulgar or obscene jokes or remarks will generally not be appreciated, nor will heavy
			use of profanity.
		</p>
	</div>
</div>
