{% extends "layouts/default.twig" %}
{% block content %}
    <h2 class="headline">Call for Papers Talk Ideas</h2>
    <p>
        The OpenWest Conference is a community conference that focuses on Open Source, Open Hardware and Open Standards.
        We are looking for presentations for both beginners and advanced attendees.
    </p>
    <p>
        Due to financial constraints most conferences tend to pick speakers to present 
        multiple talks. Therefore <strong>it is advisable to submit a few talk ideas, not just one.</strong> 
        By submitting a single talk you may lessen your chances of being selected.
    </p>
    <p>
        To get the ideas flowing, here's a few suggestions:
    </p>
    <ul>
        <li>Programming (in any language)</li>
        <li>System administration tools</li>
        <li>Virtualization and environments</li>
        <li>Development principles</li>
        <li>Security</li>
        <li>Mobile-first design</li>
        <li>Testing (unit, functional, etc.)</li>
        <li>Version control</li>
        <li>User Experience/Usability</li>
        <li>Building APIs (REST, SOAP, whatever)</li>
        <li>Continuous Integration</li>
        <li>Framework-related topics</li>
        <li>Professional development</li>
    </ul>
{% endblock %}
    
